#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  background-color: #b7d1dd;
  color: white;
}

h1 {
  font-style: italic;
  text-decoration: underline;
}

header {
  margin-top: 0;
  
  padding: 0;
  margin-bottom: 0;
}

img {
  margin: 0 auto;
  display: block;
  transform: scale(0.25);
}

tr{
  color: white;
}

th {
  color: white;
}

a {
  background-color: white;
}


.wish-list{
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.wish-form {
  
  display: inline-block;
  margin: 0 auto;
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

button {
  border: none;
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.flex-parent-element {
  display: flex;
  width: 50%;
}

.flex-child-element {
  flex: 1;
  border: 2px solid blueviolet;
  margin: 10px;
}

.flex-child-element:first-child {
  margin-right: 20px;
}